input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.size {
  object-fit: contain;
  height: 30vh;
}

.pointer {
  cursor: pointer;
}

.cart {
  font-size: 1.7rem;
}

.resize-none {
  resize: none;
}

.checkout-form {
  height: 84.4vh;
}

.input-quantity {
  width: 35px;
  border-radius: 5px;
}
